# vscode
Template/Template1/.vscode/*
!Template/Template1/.vscode/settings.json

# Project
Template/Template1/Projects/MDK-ARM/Listings
Template/Template1/Projects/MDK-ARM/DebugConfig

# My Config
!.gitignore
